/*Importing google font - inter------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "inter",sans-serif;
}
body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    left: 35%;
    width: 700px;
    background: linear-gradient(#efefff, #cccbff);
}
.wrapper .card{
    width: 430px;
     /* position: absolute; */
    height: auto;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    background: #fff;
    object-fit: cover;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
}
.card .card-image{
    position: relative;
}
.card .card-image img{
    width: 100%; 
    padding: 20px;
    aspect-ratio: 12/9;
    border-radius: 50px;
}
.card .card-image .card-tag{
    position: absolute;
    left:35px;
    top: 35px;
    background: #6227e0;
    padding: 5px 15px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size:1rem;
    font-weight: 600;
    color: #fff;
}
.card-content {
    padding: 0 25px;
}
.card-content .card-title {
    font-size: 27px;
    margin-bottom: 17px;
    letter-spacing: -0.1px;
}
.card-content .card-pragraph{
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: #a0a0a1;
    margin-bottom: 2vh;
}
.card-footer{
    border-top: 2px solid #ededf0;
}
.card .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 ;
    padding-top: 20px;
}
 .card-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.card .card-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card-profile .card-profile-info{
        display: flex;
        flex-direction: column;
}
.card-profile-info .card-profile-name{
    font-size: 20px;
    font-weight: 700;
}
.card-profile-info .card-profile-role{
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #9b9b9c;
}
.card-button{
    padding: 10px 20px;
    background: #6227e0;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;

}



